

.intr {
    background-color: #c5b69b;

}

.intr .icon i {
    color: black !important;  
}  




.intr select.form-select.form-select-sm {
    background-color: transparent;
    color: black;
    border: none;
    
}


    


